{% extends "base.html" %}
{% load markdown_filter %}

{% block title %}{{ requested_user }} | Kegstarter{% endblock %}

{% block content %}

<h2>{{ requested_user }}</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Payment Options <small>(You cannot remove them right now)</small></h2>
        {% if payment_options|length > 0 %}
        <ul class="list-group">
        {% for option in payment_options %}
            <li class="list-group-item">
                {% if same_user %}
                <form class="pull-right" action="{% url 'payment_delete' user_id=requested_user.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ option.id }}">
                    <button class="close" style="margin-left:10px" type="submit">&times;</button>
                </form>
                {% endif %}
                {% if option.preferred %}<span class="badge">Preferred</span>{% endif %}
                {{ option.name }}: {{ option.value }}
                {% if option.info %}<small>({{ option.info }})</small>{% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Looks like {% if same_user %}you{% else %}they{% endif %} haven't set up any payments yet!</p>
        {% endif %}
        {% if same_user %}
        <form action="" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {{ payment_options_form.as_p }}
            <input type="submit" value="Add Payment Option" />
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
