body { padding-top: 70px; }

/* BEGIN keg form */
.keg-form {
    padding: 0;
}

.keg-form:hover {
    background-color: #f5f5f5
}

.keg-button {
    background: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
}
/* END keg form */