body { padding-top: 70px; }

.list-group form {
    padding: 0;
}

.list-group form:hover {
    background-color: #f5f5f5
}

.list-group form button {
    background: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
}