{% extends "base.html" %}

{% block title %}Accept a donation | Kegstarter{% endblock %}

{% block content %}

{% if perms.main.accept_donation %}
    {% if new_donation %}
    Accepted ${{ new_donation.amount }} from {{new_donation.user}}.
    {% endif %}
    <h2>Accepting a donation (as {{ user }})</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Accept">
    </form>
    <h2>Donation history</h2>
    {% if donation_history.count == 0 %}
    <p>You don't have any accepted donations.  Start asking people!</p>
    {% else %}
    <table>
        <tr>
            <td>User</td>
            <td>Donation</td>
            <td>DateTime</td>
        </tr>
        {% for donation in donation_history %}
        <tr>
            <td>{{ donation.user }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% else %}
    <p>Sorry, only Keg Masters can accept donations.</p>
{% endif %}

{% endblock %}
