{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Accept a donation | Kegstarter{% endblock %}

{% block content %}

{% if perms.main.accept_donation %}
    {% if new_donation %}
    Accepted ${{ new_donation.amount }} from {{new_donation.user}}.
    {% endif %}
    <h2>Accepting a donation (as {{ user }})</h2>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div id="div_id_submit" class="control-group">
            <input type="submit" value="Accept">
        </div>
    </form>
    <h2>Donation history</h2>
    {% if donation_history.count == 0 %}
    <p>You don't have any accepted donations.  Start asking people!</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Donation</th>
                <th>DateTime</th>
            </tr>
        </thead>
        <tbody>
            {% for donation in donation_history %}
            <tr>
                <td>{{ donation.user }}</td>
                <td>{{ donation.amount }}</td>
                <td>{{ donation.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% else %}
    <p>Sorry, only Keg Masters can accept donations.</p>
{% endif %}

{% endblock %}
