{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Current</th>
            <th>Spent</th>
            <th>Total</th>
        </tr>
    </thead>
    <tr>
        <td class="{% if balance > 0 %}success{% else %}danger{% endif %}">${{ balance }}</td>
        <td>${{ spent }}</td>
        <td>${{ total_donations }}</td>
    </tr>
</table>

<div class="row">
    <div class="col-md-12">
        <h2>Keg Master <small>(Send donations to this guy/gal)</small></h2>
        {% if current_kegmaster %}
            <h3><a href="/accounts/{{ current_kegmaster.user.id }}/profile/{{ current_kegmaster.user.username }}">
                {{ current_kegmaster.user.username }}
            </a></h3>
            <ul class="list-group">
            {% for option in current_kegmaster_payment_options %}
                <li class="list-group-item">
                    {% if option.preferred %}<span class="badge">Preferred</span>{% endif %}
                    {{ option.name }}: {{ option.value }}
                    {% if option.info %}<small>({{ option.info }})</small>{% endif %}
                </li>
            {% endfor %}
            </ul>
            {% if user == current_kegmaster.user %}
                <a href="{% url 'accept_donation' %}" class="btn btn-primary">Accept new donations</a>
            {% endif %}
        {% else %}
            <p><strong>There is no current keg-master!</strong></p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-push-6">
        <h2>Newly Added</h2>
        <ul class="list-group">
        {% for suggestion in suggestions %}
            <a href="{{ suggestion.get_absolute_url }}" class="list-group-item">
                <span class="badge">{{ suggestion.votes }} votes</span>
                {{ suggestion.untappd_keg.keg.name }}
                {% if suggestion.untappd_keg.keg.style %}
                    ({{ suggestion.untappd_keg.keg.style }})
                {% endif %}
                - {{ suggestion.untappd_keg.untappd_brewery.brewery }}
            </a>
        {% endfor %}
        </ul>
        <p><small>Showing 3 most recently added kegs.</small></p>
    </div>
    <div class="col-md-6 col-md-pull-6">
        <h2>Keg List</h2>
        <ul class="list-group">
        {% for suggestion in winning_suggestions %}
            <a href="{{ suggestion.get_absolute_url }}"  class="list-group-item">
                <span class="badge">{{ suggestion.votes }} votes</span>
                {{ suggestion.untappd_keg.keg.name }}
                {% if suggestion.untappd_keg.keg.style %}
                    ({{ suggestion.untappd_keg.keg.style }})
                {% endif %}
                - {{ suggestion.untappd_keg.untappd_brewery.brewery }}
            </a>
        {% endfor %}
        </ul>

        <a href="/keg/create/" class="btn btn-primary">Suggest a keg</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Purchase history</h2>
        {% if purchase_history.count == 0 %}
            <p>All dry.  Go vote, and buy some kegs!</p>
        {% else %}
            <ul class="list-group">
            {% for purchase in purchase_history %}
                <a href="{{ purchase.suggestion.get_absolute_url }}" class="list-group-item">
                    <span class="badge">{{ purchase.suggestion.votes }} votes</span>
                    <h4>{{ purchase.suggestion.untappd_keg.keg }}</h4>
                    <p><strong>{{ purchase.user.username }}</strong>
                        purchased for <span class="label label-success">${{ purchase.suggestion.price }}</span></p>
                </a>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
