{% extends "base.html" %}

{% block content %}

<p>Total donations: ${{ total_donations }}</p>
<p>Spent on beer: ${{ spent }}</p>
<p>Current balance: ${{ balance }}</p>

<h2>Keg Master (Send donations to this guy/gal)</h2>
{% if current_kegmaster %}
<p>{{ current_kegmaster.user.username }}</p>
{% if user == current_kegmaster.user %}
<p><a href="{% url 'accept_donation' %}">Accept new donations</a></p>
{% endif %}
{% else %}
<p><strong>There is no current keg-master!</strong></p>
{% endif %}

<h2>Newly added</h2>
<ul>
{% for keg in kegs %}
    <li><a href="{{ keg.get_absolute_url }}">{{ keg }}</a> (Votes: {{ keg.votes }})</li>
{% endfor %}
</ul>

<h2>Keg list</h2>
<ul>
{% for keg in winning_kegs %}
    <li><a href="{{ keg.get_absolute_url }}">{{ keg }}</a> (Votes: {{ keg.votes }})</li>
{% endfor %}
</ul>

<p><a href="/keg/create/">Suggest a keg</a></p>
<p><a href="/brewery/create/">Add a brewery</a></p>

<h2>Purchase history</h2>
{% if purchase_history.count == 0 %}
<p>All dry.  Go vote, and buy some kegs!</p>
{% else %}
<ul>
{% for purchase in purchase_history %}
    <li>{{ purchase.timestamp }} - {{ purchase.user.username }} - <a href="{{ purchase.keg.get_absolute_url }}">{{ purchase.keg }}</a> (${{ purchase.keg.price }}) (Votes: {{ purchase.keg.votes }})</li></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
